html {
    font-family: "barlow", Arial, Helvetica, sans-serif;    
    box-sizing: border-box;
}

H1 {
    color: whitesmoke;
    font-weight: 500;
    font-size: 3em;
}

h4 {
    color: whitesmoke;
    font-weight: 300;
    font-size: larger;
    font-family: "Bebas Neue", sans-serif ;
}

p {
    font-size: large;
}
/*-------------Logo and navbar-------*/

.logo {
    display: flex;
    max-width: 70%;
}

.main-banner {
   display: flex;
   justify-content: center;
}

.banner-image  {
    max-width: 100%    
}

.trending {
    display: flex;
    position: absolute;
    margin-top: 5%;
    text-align: center;
    background-color: rgba(100, 135, 146, 0.699);
    height: 15%;
    align-items: center;
    border-end-end-radius: 10%;
    border-start-start-radius: 10%; 
}

.trending h1 {
    padding: 10px;
}

@media  (max-width: 425px) {
    .logo-desktop {
        display: none;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 426px){
    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        display: flex;
        justify-content: center;        
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        background-color: gray;
        padding: 2em;
        margin: 2em;
        color: white;
        font-size: large;
    }

    .banner-image {
        width: 1300px;
        height: 350px;
        object-fit: cover;
    }

    .mission {
        display: flex;
        max-width: 700px;
        margin: 0 auto;
    }

    .mission-description {
        padding: 1em;
    }

}


/*-----------Mission & mission quote------------*/

.mission-quote h2 {
    text-align: center;
    font-size:xx-large ;
}

/*------------Products and services section------*/
.cards-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(221, 210, 210, 0.63);
    justify-content: center;    
}

.card {
    display: flex;    
    justify-content: center;
    margin: 3%;
    align-items: end;
    
}

.card-description {
    position: absolute;
    background: rgba(100, 135, 146, 0.699);
    width: 75%;
    margin: 10px;
    text-align: center;
}

.card-description h4 {
    padding: 0 10px;
}

.card-img {
    max-width: 90%;
}

@media (min-width: 426px) {
    
    .cards-display {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }

    .card {
        display: flex;
        justify-content: center;
        margin: 3%;
        align-items: end;
        max-width: 300px;
    }

    .card-description {
        max-width: 18%;
    }
}
/*----------------Team Section---------*/
.team-section {
    background-color: rgba(221, 210, 210, 0.63);
    margin-top: 7%;
}


.section-title h2 {
    text-align: center;
    margin: 0;
    position: relative;
    top: 10px;
}

.member-photo img {
    border-radius: 50%;
    max-width: 75px;
}

.member-description h5 {
    padding-left: 20px;
}

.team-container {
    padding: 5%;
}

.member-card {
    display: flex;
    margin: 5%;
}

@media (min-width: 320px) /*and (max-width:700px)*/ {
    .team-section {    
        margin-top: 3%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .team-container {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-evenly;
    }
    
    .section-title {
        width: 100%;
    }
}